
.mainContainer{
    max-width: 100vw;
    height: 100vh;
    background: #f6f6fb;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    overflow: hidden;
}

.navContainer{

    grid-column: 1/2;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.infoContainer{
    grid-column: 2/7;
    display: grid;
    grid-template-rows: 15vh 80vh 5vh;
}

.upperBarConatiner{
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

.childrenContainer{
    width: 100%;
    grid-row: 2/4;
}

@media screen and (max-width: 800px) {
    .navContainer{
        display: none;
    }
    .infoContainer{
        grid-column: 1/7;
        display: grid;
        grid-template-rows: 15vh 80vh 5vh;
    }
  }
